*.o
*.qmlproject.user
Makefile
Makefile.Debug
Makefile.Release
release
debug
papyros-calculator
qrc_papyros-calculator.cpp
papyros-calculator_resource.rc
papyros-calculator.pro.user
release/
debug/
Win32/
GeneratedFiles/
*.sdf
*.v12.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.rc
*.opensdf
